.image-container {
  position: relative;
}

.correct-guess {
  border: 3px solid rgba(52, 199, 89, 1);
  opacity: 0.7;
  position: relative;
}

.incorrect-guess {
  border: 3px solid rgba(255, 59, 48, 0.6);

  opacity: 1;
}

.disabled-guess {
  opacity: 0.5;
}

.check {
  position: absolute;
  padding-right: 11px;
}
