.correct-guess {
  /* background-color: rgba(52, 199, 89, 0.6); */
  background: green;
  opacity: 1;
}

.incorrect-guess {
  /* background-color: rgba(255, 59, 48, 0.6); */
  background: red;
  opacity: 1;
}

.disabled-guess {
  opacity: 0.5;
}
