.results-background {
  background-color: #e5e5e5;
}

.outer-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
}
.top-bar {
  position: absolute;
  width: 100%;
  height: 512px;
  left: 0px;
  top: 0px;
  background-color: #223547;
}

.face {
  position: relative;
  display: table;
  margin: 0 auto;
  margin-top: 30px;
}

.congratulations {
  position: relative;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}

.home-button {
  position: relative;
  display: table;
  margin: 0 auto;
  margin-top: 140px;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e5e5e5;
}

.correct-stats-info {
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin-top: 632px;
}

.incorrect-stats-info {
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin-top: 5px;
}
