.results-background {
  background-color: #e5e5e5;
}

.top-bar {
  position: absolute;
  width: 100%;
  height: 512px;
  left: 0px;
  top: 0px;
  background-color: #223547;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38.81px;
  text-align: center;
}

.shapes-container {
  margin-left: auto;
  margin-right: auto;
}

.face {
  position: absolute;
  margin-left: 667px;
  margin-top: 144px;
}
.square {
  position: absolute;
  margin-left: 629px;
  margin-top: 106px;
}

.star {
  position: absolute;
  margin-left: 703.99px;
  margin-top: 71px;
}

.triangle {
  position: absolute;
  margin-left: 783.99px;
  margin-top: 103px;
}
