.results-background {
  background-color: #e5e5e5;
}

.top-bar {
  position: absolute;
  width: 100%;
  height: 512px;
  left: 0px;
  top: 0px;
  background-color: #223547;
}

.face {
  position: relative;
  display: table;
  margin: 0 auto;
  margin-top: 30px;
  /* margin-left: 48%;
  margin-right: 52%; */
}

.congratulations {
  position: relative;
  /* margin-left: 400px;
  margin-top: 303px; */
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}

.home-button {
  position: relative;
  display: table;
  margin: 0 auto;
  margin-top: 140px;
}
