.game-background {
  background-color: #e5e5e5;
}

.outer-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.top-bar {
  position: absolute;
  width: 100%;
  height: 104px;
  left: 0px;
  top: 0px;
  background-color: #223547;
}

.arrow {
  position: absolute;
  width: 12px;
  height: 20.5px;
  margin-left: 46px;
  margin-top: 42px;
}

.title {
  /* text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38.81px;
}
