.game-background {
  background-color: #e5e5e5;
}

.outer-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.top-bar {
  position: absolute;
  width: 100%;
  height: 104px;
  left: 0px;
  top: 0px;
  background-color: #223547;
}

.arrow {
  position: absolute;
  width: 12px;
  height: 20.5px;
  margin-left: 46px;
  margin-top: 42px;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38.81px;
}

.question-text {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 16.41%;
  bottom: 80.86%;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #223547;
  align-self: stretch;
}

.name {
  position: relative;
  width: 241px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  top: 12%;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #223547;
}

.game-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
